.menu {
  width: 320px;
}

.main {
  display: flex;
  height: 100%;
  width: 1240px;
  overflow: hidden;
  margin: 0 auto;
}

.orders {
  width: 100%;
}

.no_orders {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}
